html {
  background-color: rgb(24, 24, 24);
  color: white;
  font-size: 13px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  margin: 0;
  text-align: center;
}

div {
  margin: 5px 15px;
}
header {
  background-color: black;
}

.paragraph-div {
  margin: auto;
  background-color: rgba(33, 32, 32, 0.972);
}

.blakk_hd1 {
  display: inline-block;
}

.paragraph-div {
  margin-left: 15%;
  margin-right: 15%;
  padding: 15px;
  text-align: left;
}

.rate-right {
  text-align: right;
}

.run-paragraph {
  background-color: rgb(55, 53, 53);
  width: 220px;
  height: 30px;
  text-align: center;
}
